<app-menu></app-menu>
<main class="container-fluid">
    <router-outlet></router-outlet>
</main>
<footer class="bg-light">
    <span>You can see the code of this project at: <a href="https://github.com/derwing/angular-pipes">GitHub</a> <i class="fab fa-github text-dark ms-1"></i></span>
    <div class="bg-info">
        <h1 class="text-white">Gratitude <i class="fas fa-praying-hands"></i></h1>
        <p class="text-light">
            This project is base in the course exercises of www.fernando-herrera.com
        </p>
    </div>
</footer>