<main class="container">
    <div class="text-layout">

        <h1>{{ name | titlecase}}</h1>

        <h1>{{ value | number}}</h1>

        <h1>{{ obj | json}}</h1>

    </div>

    <button pButton (click)="showProperties()" icon="pi pi-bell" iconPos="right" class="p-button-help mb-2" label="Show Properties"></button>

    <hr>
    <p-card [header]="name | titlecase" subheader="This is a subheader">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In, a officia! Officia eveniet quaerat nihil quidem eos cum assumenda delectus ipsam error distinctio blanditiis illo minus, perferendis dignissimos libero quae.
    </p-card>
</main>