/* You can add global styles to this file, and also import other style files */

html,
body {
    background-color: var(--surface-d);
    font-family: var(--font-family);
}

.text-layout {
    color: var(--text-color);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .p-card .p-card-title {
        font-size: 0.8rem!important;
    }
}